<app-background></app-background>
<div class="container">
  <section class="library">
    <h2 class="section__title">Materials Libraries</h2>
    <p class="section__description">Feel our Samples in the Following Materials Libraries:</p>

    <div class="library__content-wrap">
      <div class="library__image_wrapper">
        <img class="library__image"
             src="assets/images/request/05_17_18_LOOMIA46920.jpg"
             alt="Image">
        <div class="image-overlay"></div>
      </div>
      <ul class="library__text">
        <li>Materio (Paris)</li>
        <li>Material Connexion (New York)</li>
        <li>IMAT.UVE (Germany)</li>
        <li>Google Hardware Library (Mountain View)</li>
        <li>Collab. AE (Dubai)</li>
      </ul>
    </div>
  </section>
  <section class="request-sample">
    <div class="section__line"></div>
    <h2 class="section__title">REQUEST A SAMPLE</h2>
    <p class="section__description">The best way to assess our technology is to purchase a sample and give it a test
      drive. <strong>All samples are purely for testing (non-commercial) purposes and are also not washable.</strong>
      If you require a
      washable sample, please contact us directly as these are made using a different process.</p>
    <p class="request-sample__description">Please fill out the form below to purchase a sample. All samples are
      <strong>$200 plus taxes, shipping and handling.</strong></p>
    <div class="request-sample__content-wrap">
      <div class="request-sample__side">
        <div class="request-sample__image_wrapper">
          <img class="request-sample__image"
               src="assets/images/request/LEL+in+Materio.gif"
               alt="Image">
          <div class="image-overlay"></div>
        </div>
        <div class="section__line"></div>
        <p class="request-sample__side--desc request-sample__side--desc-bold">
          OUR SAMPLES ARE TEMPORARILY UNAVAILABLE. IF YOU ARE INTERESTED IN BEING NOTIFIED WHEN SAMPLES ARE BACK IN
          STOCK, PLEASE COMPLETE THE FORM BELOW.
        </p>
        <p class="request-sample__side--desc">
          The LEL multi-function sample shows 3 functionalities in one (heating, lighting and capacitive touch
          sensing) and can make a useful demo piece for internal buy-in.
        </p>
        <p class="request-sample__side--desc">
          The multi-function sample is not meant for mechanical testing of any kind.
        </p>
      </div>

      <div class="request-sample__form">
        <form>
          <div class="form__title">
            <p>Name *</p>
          </div>
          <div class="form_name">
            <div class="form_first-name">
              <label for="firstname">First Name</label>
              <input type="text" id="firstname" name="firstname">
            </div>
            <div class="form_last-name">
              <label for="lastname">Last Name</label>
              <input type="text" id="lastname" name="lastname">
            </div>
          </div>
          <div class="form__title">
            <label for="email">Contact Email *
              <input type="text" id="email" name="email">
            </label>
          </div>
          <div class="form__title">
            <label for="title">Title *
              <input type="text" id="title" name="title">
            </label>
          </div>
          <div class="form__title">
            <label for="type">Sample Type *
              <select type="text" id="type" name="type">
                <option value="Multifunction Sample - $200">Multifunction Sample - $200</option>
              </select>
            </label>
          </div>
          <div class="form__title">
            <label for="comp_name">Company Name *
              <input type="text" id="comp_name" name="comp_name">
            </label>
          </div>
          <div class="form__title">
            <label for="project">About your Project *
              <textarea type="text" id="project" name="project"></textarea>
            </label>
          </div>
          <div class="form__title">
            <label for="about">How Did you Hear About Us? *
              <input type="text" id="about" name="about">
            </label>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

