<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info_wrapper">
        <h2 class="footer__info_title">Let's keep in touch</h2>
        <p class="footer__info_description">Sign up with your email address to receive news and updates.</p>
        <div class="footer__form form">
          <input class="form__input" type="text" placeholder="Email Address">
          <button class="form__button">Sign up</button>
        </div>
        <p class="footer__info_privacy">We respect your privacy.</p>
      </div>
      <div class="footer__location">
        <a class="footer__terms" href="">TERMS & POLICIES</a>
        <img class="footer__image"
             src="https://static1.squarespace.com/static/5c6cbefde666690aed0e275b/t/5c6d7bf7104c7bccf26ba50c/1550679038679/Logo+new.png?format=500w"
             alt="Logo Loomia">
        <p class="footer__city">New York, NY</p>
      </div>
    </div>
  </div>
</footer>
