@import "../../var";

.main {
  background: url(/assets/images/main/Fold.gif) 50% 50%/cover no-repeat;
  height: calc(100vh - #{$header-height});
  &__overlay {
    background-color: rgba(0,0,0,.5);
    height: calc(100vh - #{$header-height});
  }
  &__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    width: 60%;
    margin: auto;
    &--title {
      font-size: 45px;
      @media all and (max-width: 991px) {
        font-size: 35px;
      }
      @media all and (max-width: 768px) {
        font-size: 25px;
      }
    }
    @media all and (max-width: 991px) {
      width: 90%;
    }
  }
  &__link {
    display: inline-block;
    padding: 20px 35px;
    background-color: #222e77;
    border-color: #222e77;
    color: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 13px;
    letter-spacing: .28em;
    margin: 100px 0 0;
    transition: .2s background-color linear, .2s color linear;
    &:hover {
      opacity: .8;
      -webkit-transition: .2s background-color linear, .2s color linear;
      -o-transition: .2s background-color linear, .2s color linear;
      transition: .2s background-color linear, .2s color linear;
    }
  }
}


.award {
  display: flex;
  justify-content: space-between;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
  &__content-wrapper {
    flex: 0 48%;
    @media all and (max-width: 768px) {
      flex: auto;
    }
  }
  &__image--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & img {
      width: 25%;
    }
  }
  &__image {
    width: 100%;
  }
}







.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media all and (max-width: 768px) {
    flex-direction: column;
  }
  &__content-wrapper {
    width: 48%;
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
  &__image-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.announcements {
  &__card-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    @media all and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__card {
    text-align: left;
    width: 30%;
    @media all and (max-width: 768px) {
      width: auto;
      margin: 20px 0;
    }
  }
  &__image_wrapper {
    margin: 0 auto 20px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    & img {
      width: 100%;
    }
  }
}

.quote {
  &__container {
    display: block;
    margin: 0 auto 50px;
    position: relative;
    width: 60%;
    @media all and (max-width: 991px) {
      width: 90%;
    }
    @media all and (max-width: 768px) {
      width: auto;
    }
  }
  &__image_wrapper {
    width: 600px;
    @media all and (max-width: 768px) {
      display: none;
    }
  }
  &__text {
    background-color: #e1c751;
    padding: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 600px;
    top: 20%;
    left: 10%;
    position: absolute;
    @media all and (max-width: 768px) {
      left: 0;
      top: 0;
      width: auto;
      background-color: rgba(#e1c751, .5);
      position: relative;
    }
  }
}

.info {
  &__image {
    width: 100%;
  }
  &__button {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .15em;
    color: #091353;
    display: block;
    border: 2px solid #222e77;
    border-radius: 50px;
    padding: 10px 20px;
    width: 250px;
    margin: 30px auto;
    transition: .2s background-color linear,.2s color linear;
    @media all and (max-width: 380px) {
      width: auto;
    }
    &:hover {
      background-color: #222e77;
      color: #fff;
      -webkit-transition: .2s background-color linear,.2s color linear;
      -o-transition: .2s background-color linear,.2s color linear;
      transition: .2s background-color linear,.2s color linear;
    }
  }
}
