
  <div class="main">
    <div class="main__overlay">
      <div class="main__text">
        <h1 class="main__text--title">Soft circuit system for use across industries</h1>
        <a href="" class="main__link">Request a sample</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section__line"></div>
    <div class="award"
         data-aos="fade-down"
         data-aos-easing="linear"
         data-aos-duration="1500">
      <div class="award__content-wrapper">
        <img
          src="assets/images/main/image.jpg"
          alt="Image" class="award__image">
      </div>
      <div class="award__content-wrapper">
        <div class="award__info info">
          <h2 class="section__title">Award-winning <br>electronic textiles</h2>
          <div class="award__image--wrapper">
            <img
              src="assets/images/main/NASA-iTech-Cycle-logo-finalist.jpg"
              alt="Image">
            <img
              src="assets/images/main/Screen%2BShot%2B2019-05-22%2Bat%2B11.25.55%2BAM.jpg"
              alt="Image">
            <img
              src="assets/images/main/event-9135210.jpg"
              alt="Image">
          </div>
          <p class="info__description"><span class="uppercase">Loomia</span> design and manufactures <span class="bold">soft circuit systems (e-textiles) that can be produced at scale.</span>
            Our technology can add functionality to textiles in automotive, consumer apparel and industrial
            environments.
          </p>
          <a class="info__button uppercase" href="">About our products</a>
        </div>
      </div>
    </div>

    <div class="section__line"></div>
    <div class="products"
         data-aos="fade-down"
         data-aos-easing="linear"
         data-aos-duration="1500">
      <div class="products__content-wrapper">
        <h2 class="section__title section__title-left">Our products & services</h2>
        <p>Loomia works with a range of companies who produce soft good products including
          <strong>automotive, wearables, personal protective equipment and more.</strong></p>
        <p>We specialize in producing a patented soft circuit system called the
          <strong>LOOMIA Electronic Layer</strong>, or LEL for short. The LEL is an e-textile that is
          designed
          to integrate into textile products. These circuits can light, sense and heat.</p>
        <p>
          We customize the size, shape and functionality of our LEL for your product through <span class="bold">the LOOMIA lab program</span>,
          where we work with you from <span>lab prototype</span> to <span>scale production</span>.
        </p>
        <a class="info__button" href="">About the Loomia lab</a>
      </div>

      <div class="products__content-wrapper">
        <div class="products__image-wrapper">
          <img
            src="assets/images/main/LEL+in+Materio.gif"
            alt="Image">
          <div class="image-overlay"></div>
        </div>
      </div>
    </div>

    <div class="section__line"></div>
    <div class="announcements"
         data-aos="fade-down"
         data-aos-easing="linear"
         data-aos-duration="1500">
      <h2 class="section__title">Announcements</h2>
      <div class="announcements__card-wrapper">
        <div class="announcements__card">
          <div class="announcements__image_wrapper">
            <img
              src="assets/images/main/LOOMIA+E-textiles+smart+fabric+forbes.jpg"
              alt="Image">
          </div>
          <h4>Our Founding Story in Forbes</h4>
          <p>There’s a “why” before there’s a “what” for every company. Learn more about why Madison Maxey founded
            LOOMIA
            in Forbes here.</p>
        </div>
        <div class="announcements__card">
          <div class="announcements__image_wrapper">
            <img
              src="assets/images/main/AC.png"
              alt="Image">
          </div>
          <h4>Winners of IdTechEx Launch Pad in Berlin</h4>
          <p>LOOMIA is a winner of the IdTechEx launchpad and showed our technology in Berlin among printed electronics
            and e-textile embroidered circuit companies. Learn more about the launchpad program here.</p>
        </div>
        <div class="announcements__card">
          <div class="announcements__image_wrapper">
            <img
              src="assets/images/main/D6pUaIsUcAADUSb.jpg"
              alt="Image">
          </div>
          <h4>Voted the People’s Choice at Plug and Play</h4>
          <p>LOOMIA was voted the people’s choice at the New Material’s Plug and Play demo day. Learn more about Silicon
            Valley’s most active investor here.</p>
        </div>
      </div>
    </div>

    <div class="section__line"></div>
    <div class="quote"
         data-aos="zoom-in"
         data-aos-easing="linear"
         data-aos-duration="1500">
      <div class="quote__container">
        <div class="quote__image_wrapper">
          <img class="info__image"
               src="assets/images/main/Screen%2BShot%2B2019-02-22%2Bat%2B12.05.19%2BAM.jpg"
               alt="">
        </div>
        <div class="quote__text">
          <p>“Working with the team at LOOMIA was a great pleasure. They hustle to get it done and have the greatest
            knowledge on cutting edge techniques. Totally THE BEST!”</p>
          <p>-David Monteith- Director, Product Management at Flextronics</p>
        </div>
      </div>
    </div>
  </div>

