@font-face {
  font-family: FuturaPT;
  src:  url(assets/fonts/FuturaPT-Book/FuturaPT-Book.eot) format('eot'),
        url(assets/fonts/FuturaPT-Book/FuturaPT-Book.ttf) format('ttf'),
        url(assets/fonts/FuturaPT-Book/FuturaPT-Book.woff) format('wof');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: FuturaPT;
  src:  url(assets/fonts/FuturaPT-Light/FuturaPT-Light.eot) format('eot'),
        url(assets/fonts/FuturaPT-Light/FuturaPT-Light.ttf) format('ttf'),
        url(assets/fonts/FuturaPT-Light/FuturaPT-Light.woff) format('woff');
  font-weight: 100;
  font-style: light;
}

@font-face {
  font-family: FuturaPT;
  src:  url(assets/fonts/FuturaPT-Medium/FuturaPT-Medium.eot) format('eot'),
        url(assets/fonts/FuturaPT-Medium/FuturaPT-Medium.ttf) format('ttf'),
        url(assets/fonts/FuturaPT-Medium/FuturaPT-Medium.woff) format('woff');
  font-weight: 300;
  font-style: medium;
}

@font-face {
  font-family: FuturaPT;
  src:  url(assets/fonts/FuturaPT-Bold/FuturaPT-Bold.eot) format('eot'),
        url(assets/fonts/FuturaPT-Bold/FuturaPT-Bold.ttf) format('ttf'),
        url(assets/fonts/FuturaPT-Bold/FuturaPT-Bold.woff) format('woff');
  font-weight: 600;
  font-style: bold;
}

